#headerDiv {
    background-color: steelblue;
}

#correctIncorrect {
    font-weight: bolder;
}

#correct {
    color: green;
}

#incorrect {
    color: red
}

.hidden {
    display: none;
}

.values {
    /* font-family: 'Indie Flower', cursive; */
    font-size: 260px;
}

#answerDiv {
    font-size: 60px;
}

#stats {
    font-size: 60px;
}